@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zen+Dots&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* WebKit Browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3498db; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2980b9; /* Scrollbar color on hover */
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #3498db #f1f1f1; /* thumb and track color */
  }
}
.scroll-padding {
  scroll-padding-top: 55px; /* Match this with your navbar height */
}



@keyframes blob {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(20px, -20px) scale(1.1); }
  }
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animation-delay-2000 { animation-delay: 2s; }
  .animation-delay-4000 { animation-delay: 4s; }
  .animation-delay-6000 { animation-delay: 6s; }